body {
  color: #ffffff;
  font-family: sans-serif;
  backgorund-color: #000000;
}

title {
  font-size: 25px;
}

tt {
  color: #000;
  direction: row;
  align-items: center;
  justify-content: center;
}
